elpa/
.emacs-custom.el
auto-save-list/
*.html
ido.last
flymd*
emacs-backup/
*.dat
emojis/
meghanada/
.emacs-custom*
games/
url/
*.data
recentf
image-dired/
ex-fmt/
hacker-typer/
srecode-map.el
transient/
.lsp-session-v1
projectile*
cal.el
.org-id-locations
org-gcal/
request/
cookies.txt
persist/
.mc-lists.el
flycheck_init.el